<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="admin-themes-lab">
    <meta name="author" content="themes-lab">
    <link rel="shortcut icon" href="~/Content/assets/global/images/favicon.png" type="image/png">
    <title>Twitter/UMG</title>
    @Styles.Render("~/Content/assets/global/css")
    @Styles.Render("~/Content/assets/admin/layout4/css")
    @Scripts.Render("~/Content/assets/global/plugins/modernizr")
</head>   
<body class="sidebar-top fixed-topbar fixed-sidebar theme-sdtl color-default">
    <section>
        <!-- BEGIN SIDEBAR -->
        <div class="sidebar">
            <div class="logopanel">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/Content/img/logo.jpg" width="80px"/>
                </a>
            </div>
            
        </div>
        <!-- END SIDEBAR -->
        <div class="main-content">
            <!-- BEGIN TOPBAR -->
            <div class="topbar">
                <div class="header-right">
                    <ul class="header-menu nav navbar-nav">
                       
                        <!-- END NOTIFICATION DROPDOWN -->
                        <!-- BEGIN USER DROPDOWN -->
                        <li class="dropdown" id="user-header">
                            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img src="~/Content/img/@Session["Imagen"]" width="40px" height="40px" alt="user image">
                                <span class="username">@Session["Usuario"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("Perfil", "Home")"><i class="icon-user"></i><span>Mi Perfil</span></a>
                                </li>
                                <li>
                                    <a href="@Url.Action("EditaUsuario", "Home")"><i class="icon-pencil"></i><span>Editar Perfil</span></a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Logout", "Usuario")"><i class="icon-logout"></i><span>Cerrar Sesion</span></a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER DROPDOWN -->
                    </ul>
                </div>
                <!-- header-right -->
            </div>
            <!-- END TOPBAR -->
            <!-- BEGIN PAGE CONTENT -->
            <div class="page-content">
                <div class="row">
                    <div class="col-md-12">
                        @if (Session["Mensaje_Exito"] != null && Session["Mensaje_Exito"].ToString() != "")
                        {
                            <div class="alert media fade in alert-success">
                                <p><strong>Exito!</strong> @Session["Mensaje_Exito"].</p>
                            </div>
                            Session["Mensaje_Exito"] = null;
                        }
                        
                        @if (Session["Mensaje_Error"] != null && Session["Mensaje_Error"].ToString() != "")
                        {
                            <div class="alert media fade in alert-danger">
                                <p><strong>Error!</strong> @Session["Mensaje_Error"].</p>
                            </div>
                            Session["Mensaje_Error"] = null;
                        }
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <center>
                            <input type="text" id="busqueda" class="form-control " placeholder="Busqueda..." url="@Url.Action("Busqueda", "Home")" url_perfil="@Url.Action("PerfilExterno", "Home")" />
                            <div id="resultado" class="row"></div>
                        </center>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-12"><hr /></div>
                </div>
                @RenderBody()
                <div class="footer">
                    <div class="copyright">
                        <p class="pull-left sm-pull-reset">
                            <span>Copyright © @DateTime.Now.Year </span><span>UMG</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END MAIN CONTENT -->
    </section>
    <!-- BEGIN PRELOADER -->
    <div class="loader-overlay">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- END PRELOADER -->
    <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
    @Scripts.Render("~/Content/assets/global/plugins/jquery")
    @Scripts.Render("~/Content/assets/global")
</body>
</html>